docs/n8n/weekly-blog-workflow.json
{
  "name": "Schwarz Autoglas – Wöchentlicher Blog-Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 8, "triggerAtMinute": 0 }]
        }
      },
      "id": "node-1",
      "name": "Montags 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/={{ $vars.GITHUB_OWNER }}/schwarz-autoglas/contents/public/data/blog.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "values": [
              { "name": "Accept", "value": "application/vnd.github+json" },
              { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
            ]
          }
        }
      },
      "id": "node-2",
      "name": "GitHub: blog.json lesen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": { "httpHeaderAuth": { "id": "github-pat", "name": "GitHub PAT" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst decoded = Buffer.from(raw.content, 'base64').toString('utf-8');\nconst data = JSON.parse(decoded);\nconst existingTitles = data.posts.map(p => p.title);\nconst postCount = data.posts.length;\nconst categories = ['ratgeber', 'lokal', 'saisonal', 'news'];\nconst nextCategory = categories[postCount % categories.length];\nconst currentMonth = new Date().toLocaleString('de-DE', { month: 'long' });\nconst today = new Date().toISOString().split('T')[0];\nreturn [{ json: { data, existingTitles, nextCategory, currentMonth, today, sha: raw.sha } }];"
      },
      "id": "node-3",
      "name": "Parse blog.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "values": [
            { "name": "model", "value": "claude-sonnet-4-6" },
            { "name": "max_tokens", "value": 2000 },
            { "name": "system", "value": "Du bist ein SEO-Texter für Schwarz Autoglas Rosenheim, einen mobilen Autoglas-Service im Raum Rosenheim (Bayern). Du schreibst präzise, hilfreiche Blog-Posts auf Deutsch. Wichtige SEO-Keywords: Autoglas Rosenheim, Steinschlag, Windschutzscheibe reparieren, mobiler Autoglas-Service, Scheibentausch, ADAS-Kalibrierung, Teilkasko. Gib IMMER nur valides JSON zurück - kein Text davor oder danach, keine Markdown-Codeblöcke." },
            { "name": "messages", "value": "={{ JSON.stringify([{ role: 'user', content: 'Schreibe einen neuen Blog-Post für Schwarz Autoglas. Kategorie: ' + $json.nextCategory + '. Aktueller Monat: ' + $json.currentMonth + '. Bereits vorhandene Titel (bitte nicht wiederholen): ' + JSON.stringify($json.existingTitles) + '. Der Content soll 400-600 Wörter haben, Abschnitte als h2 Tags, Absätze als p Tags. Datum heute: ' + $json.today + '. Gib dieses JSON-Objekt zurück: {id: kebab-case-slug, title: Titel, date: ' + $json.today + ', category: ' + $json.nextCategory + ', excerpt: Max 160 Zeichen kein HTML, content: HTML mit p und h2 Tags, imageAlt: Beschreibender Text, tags: [keyword1, keyword2, keyword3]}' }]) }}" }
          ]
        },
        "options": {
          "headers": {
            "values": [
              { "name": "anthropic-version", "value": "2023-06-01" }
            ]
          }
        }
      },
      "id": "node-4",
      "name": "Claude: Post generieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": { "httpHeaderAuth": { "id": "anthropic-key", "name": "Anthropic API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst text = claudeResponse.content[0].text.trim();\nconst newPost = JSON.parse(text);\nconst { data, sha } = $('Parse blog.json').first().json;\ndata.posts.unshift(newPost);\nconst MAX_POSTS = 52;\nif (data.posts.length > MAX_POSTS) data.posts = data.posts.slice(0, MAX_POSTS);\nconst updatedContent = Buffer.from(JSON.stringify(data, null, 2)).toString('base64');\nreturn [{ json: { updatedContent, sha, newPostId: newPost.id, newPostDate: newPost.date } }];"
      },
      "id": "node-5",
      "name": "Merge: blog.json aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/={{ $vars.GITHUB_OWNER }}/schwarz-autoglas/contents/public/data/blog.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "values": [
            { "name": "message", "value": "=content: add weekly blog post {{ $json.newPostId }}" },
            { "name": "content", "value": "={{ $json.updatedContent }}" },
            { "name": "sha", "value": "={{ $json.sha }}" }
          ]
        },
        "options": {
          "headers": {
            "values": [
              { "name": "Accept", "value": "application/vnd.github+json" },
              { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
            ]
          }
        }
      },
      "id": "node-6",
      "name": "GitHub: blog.json committen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": { "httpHeaderAuth": { "id": "github-pat", "name": "GitHub PAT" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/={{ $vars.GITHUB_OWNER }}/schwarz-autoglas/contents/sitemap.xml",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "values": [
              { "name": "Accept", "value": "application/vnd.github+json" },
              { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
            ]
          }
        }
      },
      "id": "node-7",
      "name": "GitHub: sitemap.xml lesen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "credentials": { "httpHeaderAuth": { "id": "github-pat", "name": "GitHub PAT" } }
    },
    {
      "parameters": {
        "jsCode": "const sitemapRaw = $input.first().json;\nconst sitemapXml = Buffer.from(sitemapRaw.content, 'base64').toString('utf-8');\nconst { newPostId, newPostDate } = $('Merge: blog.json aufbauen').first().json;\nconst newEntry = `  <url>\\n    <loc>https://schwarz-autoglas.de/blog.html#${newPostId}</loc>\\n    <lastmod>${newPostDate}</lastmod>\\n    <changefreq>weekly</changefreq>\\n    <priority>0.7</priority>\\n  </url>`;\nconst updated = sitemapXml.replace('</urlset>', newEntry + '\\n</urlset>');\nconst updatedContent = Buffer.from(updated).toString('base64');\nreturn [{ json: { updatedContent, sha: sitemapRaw.sha } }];"
      },
      "id": "node-8-code",
      "name": "Sitemap: URL einfügen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/={{ $vars.GITHUB_OWNER }}/schwarz-autoglas/contents/sitemap.xml",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "values": [
            { "name": "message", "value": "=seo: update sitemap with new blog post" },
            { "name": "content", "value": "={{ $json.updatedContent }}" },
            { "name": "sha", "value": "={{ $json.sha }}" }
          ]
        },
        "options": {
          "headers": {
            "values": [
              { "name": "Accept", "value": "application/vnd.github+json" },
              { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
            ]
          }
        }
      },
      "id": "node-8",
      "name": "GitHub: sitemap.xml committen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "credentials": { "httpHeaderAuth": { "id": "github-pat", "name": "GitHub PAT" } }
    }
  ],
  "connections": {
    "Montags 08:00": { "main": [[{ "node": "GitHub: blog.json lesen", "type": "main", "index": 0 }]] },
    "GitHub: blog.json lesen": { "main": [[{ "node": "Parse blog.json", "type": "main", "index": 0 }]] },
    "Parse blog.json": { "main": [[{ "node": "Claude: Post generieren", "type": "main", "index": 0 }]] },
    "Claude: Post generieren": { "main": [[{ "node": "Merge: blog.json aufbauen", "type": "main", "index": 0 }]] },
    "Merge: blog.json aufbauen": { "main": [[{ "node": "GitHub: blog.json committen", "type": "main", "index": 0 }]] },
    "GitHub: blog.json committen": { "main": [[{ "node": "GitHub: sitemap.xml lesen", "type": "main", "index": 0 }]] },
    "GitHub: sitemap.xml lesen": { "main": [[{ "node": "Sitemap: URL einfügen", "type": "main", "index": 0 }]] },
    "Sitemap: URL einfügen": { "main": [[{ "node": "GitHub: sitemap.xml committen", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "seo" }, { "name": "automation" }]
}
